<div class="container">
  <div class="todo__header">
    <img src="assets/logo.svg" alt="logo" />
  </div>

  <form class="todo__form" (submit)="addTodo(); $event.preventDefault()">
    <div class="todo__form-inner">
      <label class="todo__label">
        <input
          type="text"
          class="todo__input"
          [ngClass]="{ border__error: errorMessage() }"
          [formControl]="todo"
          placeholder="Добавить запись..."
        />
      </label>
      <button class="todo__btn-add" type="submit">
        Добавть <img src="assets/plus.svg" alt="plus icon" />
      </button>
    </div>
    <div class="todo__form-error" [class.active]="errorMessage()">
      <p class="todo__error">
        {{ errorMessage() }}
      </p>
    </div>
  </form>

  <div class="todo__body">
    <div class="todo__body-header mb-24">
      <div>
        <span class="title color-blue">Созданные задания</span>
        <span class="amount ml-8">{{ todos.length }}</span>
      </div>

      <div>
        <span class="title color-blue">Завершено</span>
        <span class="amount ml-8">2 из {{ todos.length }}</span>
      </div>
    </div>

    @if (todos.length > 0) {
    } @else {
      <div class="todo__list-empty">
        <img class="mb-16" src="assets/clipboard.png" alt="clipboard icon" />
        <p class="todo__list-empty-text text-bold">
          У вас еще нет зарегистрированных заданий
        </p>
        <p class="todo__list-empty-text">
          Создавайте задачи и упорядочивайте свои дела.
        </p>
      </div>

    }
  </div>
</div>
